In [4]:
# We'll now insert the news into the MySQL table

for article in articles:
    headline = article['title']
    published_at = article['publishedAt'].replace('T', ' ').replace('Z', '')  # ISO to SQL DATETIME
    source = article['source']['name']
    url = article['url']
    
    query = """
    INSERT INTO news_articles (company, headline, published_at, source, url)
    VALUES (%s, %s, %s, %s, %s)
    """
    
    values = ("Tesla", headline, published_at, source, url)
    try:
        cursor.execute(query, values)
    except Exception as e:
        print(f"❌ Error inserting: {headline}\n→ {e}")

conn.commit()
print("✅ All Tesla news articles inserted into the database.")

NameError: name 'articles' is not defined